:root {
    --azul-claro: #5197f5;
    --cinza-claro: #83a4c9;
    --azul-escuro: #04347c;
    --cinza-escuro: #6881a5;
    --cinza-quase-branco: #c4d1e0;
}


section,
main,
footer {
    font-family: 'Roboto', sans-serif;
}

header div,
.list-items,
.text div,
.text h1,
.text h4,
.text p {
    z-index: 2;
}

.list-items:last-child {
    margin-bottom: 72px;
}

.list-items li a {
    color: var(--cinza-quase-branco);
}

.logo-img {
    max-width: 170px;
}

.section-1-container {
    position: relative;
    padding: 0;
}


#img1 {
    width: 100%;
    height: 100%;
}

#img2,
#img3 {
    display: none;
}

main {
    background: rgb(4, 52, 124);
    background: linear-gradient(277deg, rgba(4, 52, 124, 1) 0%, rgba(104, 129, 165, 1) 48%);
    margin-top: -72px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 20px;
}

.text h1 {
    color: var(--azul-escuro);
    font-size: 2rem;
    font-weight: 600;
}

.text h4,
p {
    color: var(--cinza-quase-branco);
    width: 90%;
    font-size: .8rem;
}

.button1 a,
.button2 a {
    color: var(--cinza-quase-branco);
    text-decoration: none;
}

.button1,
.button2 {
    padding: 8px;
    border-radius: 3px;
    border: 4px solid var(--azul-escuro);
}

.button1 {
    background-color: var(--azul-escuro);
}

.button2 {

    background-color: transparent;
}

.button1:hover {
    background-color: transparent;
}

.button2:hover {
    background: var(--azul-escuro);
}

.section-2-container {
    background-color: #fff;
    padding: 25px 0;
}

.section-2-container>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-section h2 {
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 3rem;
}

.text-section2 {
    align-self: center;

}

.text-section2 p {
    width: 100%;
}

.img-section2 img {
    width: 90%;
}


@media screen and (max-width:457px) {

    .text h4,
    h1 {
        display: none;
    }

    .button1,
    .button2 {
        display: none;
    }
}

@media screen and (min-width:992px) {

    .list-items:last-child {
        margin-bottom: 0;
    }

    .section-1-container {
        height: 800px;
    }

    .container-img img {
        display: flex;
        flex-direction: column;
        width: 33%;
        position: absolute;
        z-index: 1;
    }

    #img1,
    #img2,
    #img3 {
        border-radius: 3px;
        width: 500px;
        height: 333px;
    }

    #img1 {
        top: 10px;
        right: 300px;

    }

    #img2 {
        top: 230px;
        right: 0;
        display: block;
    }

    #img3 {
        top: 450px;
        right: 300px;
        display: block;
    }

    .text h1 {
        color: var(--azul-escuro);
        font-size: 4rem;
        font-weight: 600;

    }

    .text h4,
    p {
        color: var(--cinza-quase-branco);
        width: 50%;

    }

    .text {
        position: static;
        padding: 0 0;
    }

    .section-2-container>div {

        flex-direction: row;
    }

    .text-section2 p {
        font-size: 1.2rem;
    }

    .img-section2 img {
        width: 512px;
    }
}